<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员管理</title>
<link rel="stylesheet" type="text/css" href="/admin/css/css.css" />
<script type="text/javascript" src="/admin/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="/admin/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;-</span>&nbsp;管理员管理
			</div>
		</div>

		<div class="page">
			<!-- user页面样式 -->
			<div class="connoisseur">
				<div class="conform">
					<form method="post" action="{:url('Power/addPower')}">
						<div class="cfD">
							<input class="userinput" type="text" placeholder="权限名称" name="power_name" />
							<input class="userinput" type="text" placeholder="控制器名称" name="controller_name" />
							<input class="userinput" type="text" placeholder="方法名称" name="action_name" />
							<select name="parent_id" id="" class="userinput vpr">
								<option value="">请选择父级权限</option>
								{foreach $data as $v}
									<option value="{$v.power_id}">
										<?php echo  str_repeat("&nbsp&nbsp&nbsp&nbsp",$v['f']) ?>
										{$v.power_name}
									</option>
								{/foreach}
							</select>
							<input type="submit" class="userbtn" style="cursor: pointer;" value="添加权限">
						</div>
					</form>
				</div>
				<!-- user 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="66px" class="tdColor tdC">序号</td>
							<td width="435px" class="tdColor">权限名称</td>
							<td width="400px" class="tdColor">控制器名称</td>
							<td width="320px" class="tdColor">方法名称</td>
							<td width="220px">操作</td>
						</tr>
						{foreach $data as $v}
						<tr height="40px" id="tr{$v.power_id}">
							<td>{$v.power_id}</td>
							<td>
								<?php echo  str_repeat("&nbsp&nbsp&nbsp&nbsp",$v['f']) ?>
								{$v.power_name}
							</td>
							<td>{$v.controller_name}</td>
							<td>{$v.action_name}</td>
							<td>
								<a href="javascript:void(0)" class="delPower" where="{$v.power_id}">
									<img class="operation delban" src="/admin/img/delete.png">
								</a>
							</td>
						</tr>
						{/foreach}
					</table>
					<!--<div class="paging">此处是分页</div>-->
				</div>
				<!-- user 表格 显示 end-->
			</div>
			<!-- user页面样式end -->
		</div>

	</div>
	<!-- 删除弹出框  end-->
</body>
<script type="text/javascript">
    $(document).on("click",".delPower",function () {
       var a      =  confirm("你确定要删除此权限吗？");
       var PowerId =  $(this).attr("where");
       if(a){
		   $.ajax({
			   type:"POST",
			   url:"{:url('Power/delPower')}",
			   data:{PowerId:PowerId},
			   dataType:"json",
			   success:function (e) {
				   if(e.e==1){
                       location.href="{:url('Power/showPower')}"
				   }else{
				       alert(e.m)
				   }
               }
		   })
	   }
    })
</script>
</html>