<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Oson - Friends Link</title>
<link href="__PUBLIC__/admin/css/haiersoft.css" rel="stylesheet" type="text/css" media="screen,print" />
<link href="__PUBLIC__/admin/css/print.css" rel="stylesheet" type="text/css"  media="print" />
<script src="__PUBLIC__/admin/js/jquery-1.10.1.min.js"></script>
<script src="__PUBLIC__/admin/js/side.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/css.css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/css.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
    <div id="pageAll">
        <div class="pageTop">
            <div class="page">
                <img src="__PUBLIC__/admin/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;-</span>&nbsp;友情链接管理
            </div>
        </div>

        <div class="page">
            <!-- user页面样式 -->
            <div class="connoisseur">
                <!-- user 表格 显示 -->
                <div class="conShow">
                    <table border="1" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="66px" class="tdColor tdC">序号</td>
                            <td width="435px" class="tdColor">链接名称</td>
                            <td width="400px" class="tdColor">链接地址</td>
                            <td width="130px" class="tdColor">操作</td>
                        </tr>
                        {volist name="data" id="v"}
                        <tr height="40px" id="{$v.link_id}">
                            <td>{$v.link_id}</td>
                            <td>{$v.link_name}</td>
                            <td>{$v.link_url}</td>
                            <td><a href="javascript:void(0)" p="{$v.link_id}" class="sc"><img class="operation delban"
                                src="__PUBLIC__/admin/img/delete.png"></td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <!-- user 表格 显示 end-->
            </div>
            <!-- user页面样式end -->
        </div>

    </div>


    <!-- 删除弹出框 -->
</body>

<script type="text/javascript">
$(document).on("click",".sc",function () {
    // alert(111)
    var link_id=$(this).attr("p");
    $.ajax({
        type: "POST",
        url: "{:url('Link/delLink')}",
        data: {link_id:link_id},
        success: function(msg){
            if(msg==1){
                $("#"+link_id).remove();
            }
        }
    });
})

// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});

// 广告弹出框 end
</script>
</html>