<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员管理</title>
<link rel="stylesheet" type="text/css" href="/admin/css/css.css" />
<script type="text/javascript" src="/admin/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="/admin/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;-</span>&nbsp;管理员管理
			</div>
		</div>

		<div class="page">
			<!-- user页面样式 -->
			<div class="connoisseur">
				<div class="conform">
					<form method="post" action="{:url('User/addUser')}">
						<div class="cfD">
							<input class="userinput" type="text" placeholder="输入用户名" name="user_name" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
							<input class="userinput vpr" type="password" placeholder="输入用户密码" name="user_pwd" />
							<input type="submit" class="userbtn" style="cursor: pointer;" value="添加用户">
						</div>
					</form>
				</div>
				<!-- user 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="66px" class="tdColor tdC">序号</td>
							<td width="435px" class="tdColor">用户名称</td>
							<td width="400px" class="tdColor">用户密码</td>
							<td width="220px" class="tdColor">当前状态</td>
							<td width="220px" class="tdColor">错误冻结</td>
							<td width="250px" class="tdColor">用户等级</td>
							<td>操作</td>
						</tr>
					{foreach $data as $v}
						<tr height="40px" id="tr{$v.user_id}">
							<td>{$v.user_id}</td>
							<td>{$v.user_name}</td>
							<td>******</td>
							<td>
								{if condition="$v.user_status eq 0"}
									<font color="green" where="{$v.user_status}"  only="{$v.user_id}" class="status" style="cursor: pointer;">正常</font>
								{else/}
									<font color="red"   where="{$v.user_status}"  only="{$v.user_id}" class="status" style="cursor: pointer;">冻结</font>
								{/if}
							</td>
							<td>
								{if condition="$v.error_num egt 3"}
								<font color="red" where="{$v.error_num}"  only="{$v.user_id}" class="error" style="cursor: pointer;">冻结</font>
								{else/}
								<font color="green"   where="{$v.error_num}"  only="{$v.user_id}" class="error" style="cursor: pointer;">正常</font>
								{/if}

							</td>
							<td>
								普通管理
							</td>
							<td>
								<a href="javascript:void(0)" where="{$v.user_id}" class="delUser">
									<img class="operation delban" src="/admin/img/delete.png">
								</a>
								<!--<a href="javascript:void(0)" where="{$v.user_id}" class="upUser">-->
									<!--<img class="operation" src="/admin/img/update.png">-->
								<!--</a>-->


							</td>
						</tr>
						{/foreach}
					</table>
					<!--<div class="paging">此处是分页</div>-->
				</div>
				<!-- user 表格 显示 end-->
			</div>
			<!-- user页面样式end -->
		</div>

	</div>


	<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
    $(document).on("click",".delUser",function () {
       var a      =  confirm("你确定要删除此用户吗？");
       var userId =  $(this).attr("where");
       if(a){
		   $.ajax({
			   type:"POST",
			   url:"{:url('User/delUser')}",
			   data:{userId:userId},
			   dataType:"json",
			   success:function (e) {
				   if(e.e==1){
                       $("#tr"+userId).remove();
				   }else{
				       alert(e.m)
				   }
               }
		   })
	   }
    })
	$(document).on("click",".status",function () {
		var where =   $(this).attr("where");
		var id    =   $(this).attr("only");
		var _this =   $(this);
        $.ajax({
            type:"POST",
            url:"{:url('User/statuUser')}",
            data:{where:where,id:id},
            dataType:"json",
            success:function (e) {
				if(e.e==1){
                    if(where==1){
                        _this.html("正常")
                        _this.attr("where","0");
                        _this.attr("color","green");
					}else{
                        _this.html("冻结")
                        _this.attr("where","1");
                        _this.attr("color","red");
					}
				}else{
				   alert(e.m)
				}
            }
        })
    })
    $(document).on("click",".error",function () {
        var where =   $(this).attr("where");
        var id    =   $(this).attr("only");
        var _this =   $(this);
        $.ajax({
            type:"POST",
            url:"{:url('User/errorUser')}",
            data:{where:where,id:id},
            dataType:"json",
            success:function (e) {
                if(e.e==1){
                    if(where==3){
                        _this.html("正常")
                        _this.attr("where","0");
                        _this.attr("color","green");
                    }else{
                        _this.html("冻结")
                        _this.attr("where","3");
                        _this.attr("color","red");
                    }
                }else{
                    alert(e.m)
                }
            }
        })
    })
</script>
</html>